.container {
   
}
#mainDiv {
    font-style: italic;
}

.image{
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.page-header{
    height: 50px;
}
body {
    font-style: ;
}
p {
    margin-top: 50px;
    margin-left: 25px;
}